# Ignora toda a pasta de executáveis e arquivos de build
bin/
build/

# Backup para executáveis que fiquem fora da pasta bin
*.exe
*.o
*.out

# Configurações de IDE
.vscode/
.idea/
*.swp

# Arquivos do Sistema
Thumbs.db
.DS_Store